@charset "utf-8";
/* CSS Document */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {


/*---------------------------------
HEADER
-----------------------------------*/
header[role="banner"] nav[role="navigation"] ul li:last-child { 
	background:url(../../images/retina/allianz@2x.gif) left top no-repeat;
	background-size:contain;
	width:13%;
	height:59px;
}


/*---------------------------------
CONTENT
-----------------------------------*/
/* HOME */
#home {
	background:url(../../images/retina/home@2x.jpg) right top no-repeat;
	background-size:cover;
}

#home > span {
	background:url(../../images/retina/allianz@2x.gif) left top no-repeat;
	background-size:contain;
}


/* CONTEXTE + IMMEUBLE */
#contexte div:nth-child(1) .right,
#contexte div:nth-child(2) .left,
#immeuble div:nth-child(1) .left,
#immeuble div:nth-child(2) .right {
	background-image:url(../../images/retina/immeuble@2x.jpg);
}

#contexte div:nth-child(2) .left {
	background-image:url(../../images/retina/immeuble-cour@2x.jpg);
}

#immeuble div:nth-child(1) .left {
	background-image:url(../../images/retina/immeuble-exterieur-bis@2x.jpg);
}

#immeuble div:nth-child(2) .right {
	background-image:url(../../images/retina/immeuble-exterieur-bis@2x.jpg);
}


/* LOCALISATION */
#localisation .map {
	background:url(../../images/retina/googleMap@2x.gif) center top no-repeat;
	background-size:cover;
}

#localisation .mapInfo .button {
	background-image:url(../../images/retina/closeMap@2x.gif);
}

#localisation .mapInfo .buttonClose {
	background-image:url(../../images/retina/openMap@2x.gif);
}

#localisation .mapInfo ul:first-child li:nth-child(1) span {
	background-image:url(../../images/retina/picto_parkings@2x.png);
}

#localisation .mapInfo ul:first-child li:nth-child(2) span {
	background-image:url(../../images/retina/picto_metros@2x.png);
}

#localisation .mapInfo ul:first-child li:nth-child(3) span {
	background-image:url(../../images/retina/picto_velib@2x.png);
}

#localisation .mapInfo ul:first-child li:nth-child(4) span {
	background-image:url(../../images/retina/picto_autolib@2x.png);
}

#localisation .mapInfo ul:first-child li:nth-child(5) span {
	background-image:url(../../images/retina/picto_gares@2x.png);
}

#localisation .mapInfo ul:first-child li:nth-child(6) span {
	background-image:url(../../images/retina/picto_bus@2x.png);
}

#localisation .mapInfo ul:first-child li.off span {
	background-image:url(../../images/retina/picto_cache@2x.png);
}


/* VISITE */
#visite article:nth-child(1) .left,
#visite article:nth-child(2) .right {
	background-image:url(../../images/retina/immeuble-exterieur@2x.jpg);
	background-position:right top;
}

#visite article:nth-child(2) .right {
	background-image:url(../../images/retina/immeuble-interieur@2x.jpg);
}


/* GALERIE */
.galleryImg .close {
	background:url(../../images/retina/close@2x.gif) left top no-repeat;
	background-size:cover;
}

#galleryExt {
	background-image:url(../../images/retina/home@2x.jpg);
	background-size:contain;
}

#galleryInt1 {
	background-image:url(../../images/retina/gallery1@2x.jpg);
	background-size:contain;
}

#galleryInt1 .bloc span {
	background-image:url(../../images/retina/plan1@2x.jpg);
}

#galleryInt2 {
	background-image:url(../../images/retina/gallery2@2x.jpg);
	background-size:contain;
}

#galleryInt2 .bloc span {
	background-image:url(../../images/retina/plan2@2x.jpg);
}

/* CONTACT */
#contact .right {
	background:url(../../images/retina/contact@2x.jpg) center top no-repeat;
	background-size:cover;
}

}
