@charset "utf-8";
/* CSS Document */


html { 
	font-family:Tahoma, Geneva, sans-serif;
	width:100%;
	color:#666;
}

@font-face {
    font-family: 'AvenirNextCondensed';
    src: url('../fonts/AvenirNextCondensed.eot');
    src: url('../fonts/AvenirNextCondensed.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/AvenirNextCondensed.woff') format('woff'),
         url('../fonts/AvenirNextCondensed.ttf') format('truetype'),
         url('../fonts/AvenirNextCondensed.svg#AvenirNextCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
	background:#fff; 
	font-size:14px; 
	line-height:16px; 
	width:100%;
}

header[role="banner"],
.page { 
	width:100%; 
	max-width:1024px; 
	margin:0 auto;
}

h1, 
h2, 
h3 { 
	font-weight:normal;
}



/*---------------------------------
HEADER
-----------------------------------*/
header[role="banner"] {
	position:relative;
}

header[role="banner"] nav[role="navigation"] {
	width:100%;
	max-width:1024px;
	position:fixed;
	z-index:1000;
}

header[role="banner"] nav[role="navigation"] ul {
	display:table;
	width:100%;
	max-width:1024px;
}

header[role="banner"] nav[role="navigation"] ul li { 
	display:table-cell;
	vertical-align:top;
	text-align:center;
	font-family: 'AvenirNextCondensed';
	font-size:19px;
	line-height:46px;
	text-transform:uppercase;
}

header[role="banner"] nav[role="navigation"] ul li:nth-child(2) { 
	width:16%;
}

header[role="banner"] nav[role="navigation"] ul li:nth-child(3) { 
	width:28%;
}

header[role="banner"] nav[role="navigation"] ul li:nth-child(4) { 
	width:12%;
}

header[role="banner"] nav[role="navigation"] ul li:nth-child(5) { 
	width:7%;
}

header[role="banner"] nav[role="navigation"] ul li:nth-child(6) { 
	width:9%;
}

header[role="banner"] nav[role="navigation"] ul li:first-child { 
	font-size:30px;
	width:15%;
}

header[role="banner"] nav[role="navigation"] ul li p { 
	display:inline-block;
	height:46px;
	padding:23px 0;
	background:#fff url(../../images/border.gif) right top no-repeat;
	width:100%;
	color:#084f8f;
	cursor:pointer;
}

header[role="banner"] nav[role="navigation"] ul li.active p { 
	border-bottom:12px solid #fff;
	background:#fff url(../../images/border.gif) right top repeat-y;
}

header[role="banner"] nav[role="navigation"] ul li p span { 
	display:inline-block;
	line-height:23px;
}

header[role="banner"] nav[role="navigation"] ul li:first-child p span { 
	line-height:30px;
}

header[role="banner"] nav[role="navigation"] ul li:last-child { 
	border:none;
	padding:0;
	margin:0;
	background:url(../../images/allianz.gif) left top no-repeat;
	width:/*133px;*/13%;
	height:59px;
}

header[role="banner"] nav[role="navigation"] ul li:last-child span,
.galleryImg .close span { 
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}


/*---------------------------------
CONTENT
-----------------------------------*/
.page {
	background:#f0f0f0;
	width:100%;
	max-width:1024px;
	min-height:768px;
	right:0;
	overflow:hidden;
}

.page section {
	font-family: 'AvenirNextCondensed';
	min-height:678px;
}

h1, h2,
#home .bloc {
	font-size:60px;
	line-height:72px;
	text-transform:uppercase;
	color:#000;
}

h2 {
	font-size:30px;
	line-height:36px;
}

.bloc {
	background:#fff;
	position:absolute;
	z-index:200;
}


/* HOME */
#home {
	position:relative;
	width:100%;
	max-width:1024px;
	height:768px;
	background:url(../../images/home.jpg) right top no-repeat;
	background-size:cover;
	padding-top:0;
}

#home > span {
	display:block;
	background:url(../../images/allianz.gif) left top no-repeat;
	width:133px;
	height:59px;
	position:absolute;
	top:0;
	right:0;
}

#home .bloc {
	width:390px;
	height:240px;
	padding:80px 40px 0 40px;
	top:47%;
	left:0;
	cursor:pointer;
}

#home .bloc span {
	display:block;
	font-size:34px;
	line-height:45px;
	color:#000;
}

#home .bloc span:first-child {
	font-size:103px;
	line-height:95px;
	color:#084f8f;
}


/* PAGE */
.pageContent h1 {
	margin-bottom:10px;
}

.pageContent h2 {
	font-size:30px;
	line-height:36px;
	color:#000;
	margin-bottom:10px;
}

.pageContent p {
	font-size:18px;
	line-height:20px;
}

.pageContent p sup {
	font-size:10px;
	line-height:12px;
}


/* CONTEXTE + IMMEUBLE */
#contexte article > div,
#immeuble article > div {
	padding:6% 0;
}

#contexte div > div,
#immeuble div > div {
	background-position:center top;
	background-repeat:no-repeat;
	background-size:contain;
	background-color:inherit;
}

#contexte div:nth-child(2),
#immeuble div:nth-child(2) {
	background-color:#fff;
	padding-top:4%;
}

#contexte div div:nth-child(2),
#immeuble div div:nth-child(2) {
	background-color:inherit;
}

#contexte div:nth-child(1) .left,
#contexte div:nth-child(2) .right,
#immeuble div:nth-child(1) .right,
#immeuble div:nth-child(2) .left {
	padding:0 6%;
}

#contexte div:nth-child(1) .right,
#immeuble div:nth-child(2) .right {
	margin-right:6%;
}

#contexte div:nth-child(2) .left,
#immeuble div:nth-child(1) .left {
	margin-left:6%;
}

#contexte div:nth-child(1) .left,
#contexte div:nth-child(2) .right,
#immeuble div:nth-child(1) .right,
#immeuble div:nth-child(2) .left {
	width:100%;
	max-width:31%;
	word-wrap:break-word;
}

#contexte div:nth-child(1) .right,
#contexte div:nth-child(2) .left,
#immeuble div:nth-child(1) .left,
#immeuble div:nth-child(2) .right {
	background-image:url(../../images/immeuble.jpg);
	width:100%;
	max-width:51%;
	height:384px;
	padding-top:0;
}

#contexte div:nth-child(2) .left {
	background-image:url(../../images/immeuble-cour.jpg);
}

#immeuble div:nth-child(1) .left {
	background-image:url(../../images/immeuble-exterieur-bis.jpg);
}

#immeuble div:nth-child(2) .right {
	background-image:url(../../images/immeuble-exterieur-bis.jpg);
}


/* LOCALISATION */
#localisation {
	position:relative;
	overflow:hidden;
}

#localisation .map {
	background:url(../../images/googleMap.gif) center top no-repeat;
	background-size:cover;
	width:100%;
	max-width:1024px;
	height:678px;
}

#localisation .mapInfo {
	position:absolute;
	right:-277px;
	top:0;
	z-index:900;
	width:350px;
	height:678px;
}

#localisation .mapInfo div {
	float:right;
	width:277px;
	height:678px;
}

#localisation .mapInfo .button {
	display:block;
	background:url(../../images/closeMap.gif) left top no-repeat;
	width:73px;
	height:79px;
	position:absolute;
	top:142px;
	left:0;
	cursor:pointer;
}

#localisation .mapInfo .buttonClose {
	background:url(../../images/openMap.gif) left top no-repeat;
	display:none;
}

#localisation .mapInfo ul {
	float:left;
	width:203px;
	height:407px;
	padding:25px 37px;
	background:#fff;
	overflow-y:auto;
}

#localisation .mapInfo ul li {
	margin-bottom:15px;
}

#localisation .mapInfo ul:first-child {
	background:#f0f0f0;
	width:233px;
	height:168px;
	padding:33px 22px 20px 22px;
	overflow:inherit;
}

#localisation .mapInfo ul:first-child li {
	float:left;
	width:47px;
	height:30px;
	padding:55px 15px 0 15px;
	margin-bottom:10px;
	text-align:center;
}

#localisation p {
	font-size:1.125em;
	line-height:1.25em;
	color:#000;
	text-transform:uppercase;
}

#localisation ul li p:first-child {
	color:#084f8f;
	text-transform:none;
}

#localisation .mapInfo ul:first-child li p:first-child {
	color:#666;
}

#localisation .mapInfo ul:first-child li:nth-child(1) {
	background:url(../../images/picto_parkings.png) center top no-repeat;
}

#localisation .mapInfo ul:first-child li:nth-child(2) {
	background:url(../../images/picto_metros.png) center top no-repeat;
}

#localisation .mapInfo ul:first-child li:nth-child(3) {
	background:url(../../images/picto_velib.png) center top no-repeat;
}

#localisation .mapInfo ul:first-child li:nth-child(4) {
	background:url(../../images/picto_autolib.png) center top no-repeat;
}

#localisation .mapInfo ul:first-child li:nth-child(5) {
	background:url(../../images/picto_gares.png) center top no-repeat;
}

#localisation .mapInfo ul:first-child li:nth-child(6) {
	background:url(../../images/picto_bus.png) center top no-repeat;
}

#localisation .mapInfo ul:first-child li.off {
	background:url(../../images/picto_cache.png) center top no-repeat;
}

#localisation .mapInfo ul:first-child li.off p {
	color:#b4b4b4;
}


/* VISITE */
#visite article {
	width:100%;
	max-width:1024px;
	cursor:pointer;
}

#visite article:nth-child(1) .right,
#visite article:nth-child(2) .left {
	width:35%;
	min-height:244px;
	padding:9% 7% 0 7%;
	word-wrap:break-word;
}

#visite article:nth-child(1) .left,
#visite article:nth-child(2) .right {
	background:url(../../images/immeuble-exterieur.jpg) right top no-repeat;
	background-size:cover;
	width:100%;
	width:50%;
	height:339px;
}

#visite article:nth-child(2) .right {
	background:url(../../images/immeuble-interieur.jpg) left top no-repeat;
	background-size:cover;
}

#visite article p {
	height:120px;
	overflow:hidden;
}


/* GALERIE */
.galleryImg {
	position:relative;
	width:100%;
	max-width:1024px;
	height:768px;
	background-size:contain;
}

.galleryImg .bloc {
	width:390px;
	height:215px;
	padding:32px 40px 0 20px;
	top:402px;
	left:0;
}

.galleryImg .close {
	display:block;
	background:url(../../images/close.gif) left top no-repeat;
	width:73px;
	height:79px;
	position:absolute;
	top:125px;
	right:0;
}

.galleryImg .bloc span {
	display:block;
	width:130px;
	height:95px;
	position:absolute;
	top:-15px;
	right:-25px;
}

#galleryExt {
	background:url(../../images/home.jpg) center top no-repeat;
}

#galleryInt1 {
	background:url(../../images/gallery1.jpg) center top no-repeat;
}

#galleryInt1 .bloc span {
	background:url(../../images/plan1.jpg) left top no-repeat;
}

#galleryInt2 {
	background:url(../../images/gallery2.jpg) center top no-repeat;
}

#galleryInt2 .bloc span {
	background:url(../../images/plan2.jpg) left top no-repeat;
}

.galleryImg .bloc p {
	font-size:18px;
	line-height:20px;
	width:275px;
}

.galleryImg .bloc p + p {
	font-size:39px;
	line-height:42px;
	text-transform:uppercase;
	color:#000;
	margin:10px 0 18px 0;
}

.galleryImg .bloc a {
	display:inline-block;
	border-radius:15px;
	background:#f0f0f0;
	font-size:18px;
	line-height:40px;
	text-transform:uppercase;
	color:#666;
	height:40px;
	padding:0 19px;
	margin-right:6px;
}

.galleryImg .bloc a.active {
	background:#003680;
	color:#fff;
}

/* CONTACT */
#contact .left {
	width:312px;
	padding:50px 100px;
}

#contact h2 {
	font-size:20px;
	line-height:74px;
}

#contact p,
#contact label {
	font-size:18px;
	line-height:20px;
}

#contact p {
	margin-top:12px;
}

#contact p span {
	color:#084f8f;
}

#contact label {
	display:block;
	width:100%;
	margin-bottom:8px;
}

#contact ul li {
	margin-bottom:10px;
}

#contact input[type="text"],
#contact textarea,
#contact input[type="submit"] {
	font-family: 'AvenirNextCondensed';
	font-size:18px;
	line-height:26px;
	color:#666;
	border:0;
	background:#fff;
	width:274px;
	height:26px;
	padding:0 8px;
}

#contact textarea {
	line-height:20px;
	width:274px;
	height:114px;
	padding:8px;
	resize:none;
}

#contact input[type="submit"] {
	display:block;
	line-height:36px;
	color:#fff;
	background:#084f8f;
	width:auto;
	height:36px;
	padding:0 10px;
	overflow:visible;
}

#contact .right {
	background:url(../../images/contact.jpg) left center no-repeat;	
	width:512px;
	height:678px;
}
